@import "../vars.scss";
.news {
    &__items {
        margin-top: 12px;
    }
    &__badge {
        padding: 0 10px;
        display: inline-flex;
        align-items: center;
        height: 24px;
        border-radius: 20px;
        font-size: 14px;
        color: rgba($primary, .7);
        white-space: nowrap;
        background: #FFF7F5;
        margin-bottom: 12px;
    }
}