<div class="alerts">
    <div class="user-alert">
        <span class="user-alert__icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="19.674" height="19.018" viewBox="0 0 19.674 19.018">
                <path d="M15.4,27.269h5.871a3.081,3.081,0,0,0,2.571-1.149l3.492-3.951a2.811,2.811,0,0,0,.845-2.251V15.6a2.811,2.811,0,0,0-.845-2.251l-3.492-3.94A3.06,3.06,0,0,0,21.267,8.25H15.4a3.029,3.029,0,0,0-2.56,1.159l-3.5,3.94A2.838,2.838,0,0,0,8.5,15.6v4.318a2.838,2.838,0,0,0,.834,2.251l3.5,3.951a3.046,3.046,0,0,0,2.56,1.149Zm2.946-7.843a.811.811,0,0,1-.892-.888l-.144-4.869a.957.957,0,0,1,1.026-1,.973.973,0,0,1,1.036,1.015l-.144,4.858a.808.808,0,0,1-.881.888Zm0,3.332a1.107,1.107,0,1,1,1.17-1.1,1.127,1.127,0,0,1-1.17,1.1Z" transform="translate(-8.5 -8.25)" fill="#f31818"/>
            </svg>
        </span>
        <span class="user-alert__text">Такой юзернейм уже существует</span>
        <button class="user-alert__close">
            <svg xmlns="http://www.w3.org/2000/svg" width="16.972" height="16.971" viewBox="0 0 16.972 16.971">
                <g transform="translate(1.414 1.414)">
                  <line y2="20" transform="translate(14.143 0) rotate(45)" fill="none" stroke="#c1c1c1" stroke-linecap="round" stroke-width="2"/>
                  <line x2="20" transform="translate(0.002) rotate(45)" fill="none" stroke="#c1c1c1" stroke-linecap="round" stroke-width="2"/>
                </g>
            </svg>
        </button>
    </div>
    <div class="user-alert">
        <span class="user-alert__icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="19.674" height="19.674" viewBox="0 0 19.674 19.674">
                <path d="M0,9.837a9.837,9.837,0,1,1,9.837,9.837A9.837,9.837,0,0,1,0,9.837Zm3.787.013,4.525,4.526,7.652-7.65-1.738-1.74L8.312,10.9,5.526,8.111,3.787,9.85Z" fill="#27e" fill-rule="evenodd"/>
                <path d="M0,9.837a9.837,9.837,0,1,1,9.837,9.837A9.837,9.837,0,0,1,0,9.837Zm3.787.013,4.525,4.526,7.652-7.65-1.738-1.74L8.312,10.9,5.526,8.111,3.787,9.85Z" fill="rgba(255,255,255,0.2)" fill-rule="evenodd"/>
            </svg>
        </span>
        <span class="user-alert__text">Мы отправили письмо с инструкцией для смены пароля</span>
        <button class="user-alert__close">
            <svg xmlns="http://www.w3.org/2000/svg" width="16.972" height="16.971" viewBox="0 0 16.972 16.971">
                <g transform="translate(1.414 1.414)">
                  <line y2="20" transform="translate(14.143 0) rotate(45)" fill="none" stroke="#c1c1c1" stroke-linecap="round" stroke-width="2"/>
                  <line x2="20" transform="translate(0.002) rotate(45)" fill="none" stroke="#c1c1c1" stroke-linecap="round" stroke-width="2"/>
                </g>
            </svg>
        </button>
    </div>
</div>